@model Person
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>
<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label asp-for="Surname" class="form-label">Surname</label>
        <input class="form-control" asp-for="Surname">
    </div>
    <div class="mb-3">
        <label asp-for="Age" class="form-label">Age</label>
        <input class="form-control" asp-for="Age">
    </div>
    <button type="submit">Update</button>
</form>

